old-Plot_inflection_points.ipynb
Plot_inflection_points-Copy1.ipynb
Annexin-Inflections.ipynb
AODAPI-Inflections.ipynb
ATP-Inflections-linear.ipynb
ATP-Inflections.ipynb
GompertCriticalPoints.ipynb
GompertzDemo-T1_T2.ipynb
GompertzDemo.ipynb
NewAnnexinPlots.ipynb
Plot_Gompertz_fits.ipynb 
